.draw-card {
    border: none;
    background-color: transparent;
    cursor: pointer;
    object-fit: fill;
    max-width: 50px;
}
.bg-image {
    object-fit: cover;
    height: 200px;
    border-radius: 15px;
}
.draw-card-container {
    gap: 50px;
    border: 1px red solid;
    background: #ffc8c8e9;
    border-radius: 20px;
    height: auto;
    width: 600px;
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 25px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

button > p {
    font-weight: 500;
    color: black;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    width: 120px;
}
button {
    position: relative;
}
.given-card-continer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    overflow-x: scroll;
}
.winner {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    font-size: xx-large;
    color: rgb(51, 51, 175);
}
